<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>验收数据编辑</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"/>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div id="index_page"></div>
<script>
    $('#index_page').load('/static/html/index.html')
</script>
<div class="container">
    <h1>编辑验收记录</h1>
    <form role="form" method="post" action="/Manufacturing/edit_receive/" style="font-size: 10pt">

        <div class="form-group col-lg-6">
            <label class="col-lg-3 control-label">日期：</label>
            <div class="col-lg-9">
                <input type="date" class="form-control" id="date" name="date" style="font-size: 10pt"
                       value={{ item.date }}>
            </div>
        </div>
        <div class="form-group col-lg-6">
            <label class="col-lg-3 control-label">工号：</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" id="worker" name="worker" style="font-size: 10pt"
                       value={{ item.worker }}>
            </div>
        </div>
        <div class="form-group col-lg-6">
            <label class="col-lg-3 control-label">问题部件：</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" id="part" name="part" style="font-size: 10pt"
                       value={{ item.part }}>
            </div>
        </div>
        <div class="form-group">
            <label>问题描述：</label>
            <textarea class="form-control" rows="4" name="problem" style="font-size: 10pt">{{ item.problem }}</textarea>
        </div>

        <div class="form-group">
            <label>处理方案：</label>
            <textarea class="form-control" rows="4" name="solution"
                      style="font-size: 10pt">{{ item.solution }}</textarea>
        </div>

        <div class="form-group col-lg-6">
            <label class="col-lg-3 control-label">责任班组：</label>
            <div class="col-lg-9">
                <select class="form-control" name="banzu" style="font-size: 10pt">{{ item.banzu }}
                    <option>总二班</option>
                    <option>总三班</option>
                    <option>总四班</option>
                    <option>再制造班</option>
                    <option>南通项目组</option>
                </select>
            </div>
        </div>
        <div class="form-group col-lg-6">
            <label class="col-lg-3 control-label">调度负责人：</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" id="diaodu" name="diaodu" style="font-size: 10pt"
                       value={{ item.diaodu }}>
            </div>
        </div>
        <div class="form-group col-lg-6">
            <label class="col-lg-3 control-label">来源：</label>
            <div class="col-lg-9">
                <select class="form-control" name="laiyuan" style="font-size: 10pt">{{ item.laiyuan }}
                    <option>厂验</option>
                    <option>内验</option>
                </select>
            </div>
        </div>
        <div class="form-group col-lg-6">
            <label class="col-lg-3 control-label" style="font-size: 10pt">验收人：</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" id="yanshouren" name="yanshouren" style="font-size: 10pt"
                       value={{ item.yanshouren }}>
            </div>
        </div>
        <div class="form-group col-lg-12">
            <label class="col-lg-2 control-label" style="font-size: 10pt">完成情况：</label>
            <div class="col-lg-10">
                <select class="form-control" name="wancheng" style="font-size: 10pt">{{ item.wancheng }}
                    <option>已完成</option>
                    <option>未完成</option>
                </select>
            </div>
        </div>
        <div class="form-group" style="text-align: right">
            <button type="submit" class="btn btn-outline-info" style="font-size: 10pt"
                    onclick="return confirm('确定提交当前数据？')">提交数据
            </button>
        </div>
    </form>
</div>
</body>
</html>