<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不合格记录</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"/>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .menu {
            border-left-style: solid;
            border-left-width: 3px;
        }
    </style>
</head>
<body>
<div id="index_page"></div>
<script>
    $('#index_page').load('/static/html/index.html')
</script>
<div class="container-fluid">
    <h1>不合格单数据封装与管理</h1>
    <div class="col-lg-1" style="border-right-style: solid; border-right-width: 1px">
        <h2 class="menu"><a href="/Manufacturing/unqual_table/">数据列表</a></h2>
        <p class="menu"><a href="/Manufacturing/add_unqual/" style="font-size:9pt">新增数据</a></p>
    </div>
    <div class="col-lg-11">
        <table class="table table-hover table-striped" style="font-size:8.5pt">
            <thead>
            <tr>
                <th>日期</th>
                <th>通知单号</th>
                <th>不合格类型</th>
                <th>工厂</th>
                <th>不合格发现时间</th>
                <th>不合格单创建时间</th>
                <th>问题描述</th>
                <th>处置方式</th>
                <th>供应商</th>
                <th>评审结果</th>
                <th>缺陷文本</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data_list %}
                {% load ID_edit %}
                <tr>
                    <td>{{ item.date }}</td>
                    <td>{{ item.inform }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.fac }}</td>
                    <td>{{ item.found_date }}</td>
                    <td>{{ item.creat_date }}</td>
                    <td>{{ item.problem }}<a href="#" data-toggle="modal"
                                             data-target={{ item.ID|ID_edit:"#myModal" }}><span
                            class="glyphicon glyphicon-search"></span></a>
                        <div class="modal fade" id={{ item.ID|ID_edit:"myModal" }} tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h4 class="modal-title" id="myModalLabel">问题详情</h4>
                                    </div>
                                    <div class="modal-body" style="font-size:11pt">{{ item.problem }}</div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </td>
                    <td>{{ item.chuzhi }}</td>
                    <td>{{ item.gongying }}</td>
                    <td>{{ item.result }}</td>
                    <td>{{ item.defect_text }}</td>
                    <td>
                        {% load ID_edit %}
                        <a href={{ item.ID|ID_edit:"/Manufacturing/edit_unqual?ID=" }}><span
                                class="glyphicon glyphicon-edit"></span> 编辑</a> |
                        <a href={{ item.ID|ID_edit:"/Manufacturing/delete_unqual?ID=" }}><span
                                class="glyphicon glyphicon-trash"></span> 删除</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

</body>
</html>