{% extends 'statistics_template.html' %}

{% block content %}
    <form class="col-lg-10" method="get" style="font-size: medium">
        <div class="form-group col-lg-4">
            <label class="col-lg-4 control-label">起始时间：</label>
            <div class="col-lg-6">
                <input type="date" class="form-control" id="begin_date" name="begin_date" style="font-size:9pt"
                       value={{ date.begin_date }}>
            </div>
        </div>
        <div class="form-group col-lg-4">
            <label class="col-lg-4 control-label">终止时间：</label>
            <div class="col-lg-6">
                <input type="date" class="form-control" id="end_date" name="end_date" style="font-size:9pt"
                       value={{ date.end_date }}>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-info" style="font-size:10pt">统计数据
        </button>
    </form>
    <div>
        <div class="col-lg-6">
            <div id="main" style="width: 800px;height: 500px;"></div>
            <script type="text/javascript">
                var data1 = {{ customers_data|safe }};
                var data2 = {{ product_data|safe }};
                var chartDom = document.getElementById('main');
                var myChart = echarts.init(chartDom);
                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: "需求数据来源统计"
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: '{a} <br/>{b}: {c} ({d}%)'
                    },
                    legend: {
                        top: "bottom"
                    },
                    series: [
                        {
                            name: '需求来源',
                            type: 'pie',
                            selectedMode: 'single',
                            radius: [0, '40%'],
                            label: {
                                position: 'inner',
                                fontSize: 14,
                            },
                            labelLine: {
                                show: false
                            },
                            data: data1
                        },
                        {
                            name: '需求来源',
                            type: 'pie',
                            radius: ['45%', '70%'],
                            labelLine: {
                                length: 20,
                            },
                            label: {
                                formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                                backgroundColor: '#F6F8FC',
                                borderColor: '#8C8D8E',
                                borderWidth: 1,
                                borderRadius: 4,

                                rich: {
                                    a: {
                                        color: '#6E7079',
                                        lineHeight: 22,
                                        align: 'center'
                                    },
                                    hr: {
                                        borderColor: '#8C8D8E',
                                        width: '100%',
                                        borderWidth: 1,
                                        height: 0
                                    },
                                    b: {
                                        color: '#4C5058',
                                        fontSize: 14,
                                        fontWeight: 'bold',
                                        lineHeight: 33
                                    },
                                    per: {
                                        color: '#fff',
                                        backgroundColor: '#4C5058',
                                        padding: [3, 4],
                                        borderRadius: 4
                                    }
                                }
                            },
                            data: data2
                        }
                    ]
                };
                option && myChart.setOption(option);
            </script>

        </div>
        <div class="col-lg-5">
            <div id="main2" style="width: 650px;height: 500px;"></div>
            <script type="text/javascript">
                var data3 = {{ yearsNum|safe }};
                var chartDom = document.getElementById('main2');
                var myChart = echarts.init(chartDom);
                var option2 = {
                    title: {
                        text: "需求数据时间序列数量"
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        data: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: data3,
                        type: 'line',
                        showBackground: true,
                        backgroundStyle: {
                            color: 'rgba(180, 180, 180, 0.2)'
                        }
                    }]
                };
                option2 && myChart.setOption(option2);

            </script>
        </div>
    </div>
{% endblock %}



