<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>故障问题记录</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"/>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .menu {
            border-left-style: solid;
            border-left-width: 3px;
        }
    </style>

</head>
<body>
<div id="index_page"></div>
<script>
    $('#index_page').load('/static/html/index.html')
</script>
<div class="container">
    <h1>新增故障问题</h1>
    <div class="col-lg-2" style="border-right-style: solid; border-right-width: 1px">
        <p class="menu"><a href="/Maintenance/fault_table/" style="font-size:9pt">问题列表</a></p>
        <h2 class="menu"><a href="/Maintenance/add_fault/">新增问题</a></h2>
    </div>
    <div class="col-lg-10" style="font-size:9pt">
        <form role="form" action="/Maintenance/add_fault/" method="post">
            <div class="form-group col-lg-6">
                <label class="col-lg-3 control-label">ID：</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="ID" name="ID" style="font-size:10pt" value={{ ID_new }}>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label class="col-lg-3 control-label">故障问题发生时间：</label>
                <div class="col-lg-9">
                    <input type="date" class="form-control" id="date" name="date" style="font-size:9pt">
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label class="col-lg-3 control-label">故障区域负责人：</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="charger" name="charger" placeholder="请输入负责人"
                           style="font-size:9pt">
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label class="col-lg-3 control-label">故障上报人：</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="reportperson" name="reportperson" placeholder="请输入上报人"
                           style="font-size:9pt">
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label>故障问题描述：</label>
                <textarea class="form-control" rows="3" name="problem" style="font-size:9pt"></textarea>
            </div>
            <div class="form-group col-lg-6">
                <label class="col-lg-3 control-label">故障等级：</label>
                <div class="col-lg-9">
                    <select class="form-control" name="risk_level" style="font-size:9pt">
                        <option>情况紧急</option>
                        <option>影响生产</option>
                        <option>轻微故障</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label class="col-lg-3 control-label">故障是否已解决：</label>
                <div class="col-lg-9">
                    <select class="form-control" name="completion" style="font-size:9pt">
                        <option>未解决</option>
                        <option>已解决</option>
                    </select>
                </div>
            </div>
            <div class="form-group" style="text-align: right">
                <button type="submit" class="btn btn-outline-info" onclick="return confirm('确定提交当前数据？')"
                        style="font-size:10pt">提交数据
                </button>
            </div>
        </form>
    </div>
</div>

</body>
</html>