<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运维记录</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"/>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .menu {
            border-left-style: solid;
            border-left-width: 3px;
        }
    </style>
</head>
<body>
<div id="index_page"></div>
<script>
    $('#index_page').load('/static/html/index.html')
</script>
<div class="container-fluid">
    <h1>运维时序数据封装与管理</h1>
    <div class="col-lg-1" style="border-right-style: solid; border-right-width: 1px">
        <h2 class="menu"><a href="/Maintenance/runRecord_table/">数据列表</a></h2>
        <p class="menu"><a href="/Maintenance/add_runRecord/" style="font-size:9pt">新增数据</a></p>
    </div>
    <div class="col-lg-11">
        <table class="table table-hover table-striped" style="font-size:8.5pt">
            <thead>
            <tr>
                <th>维护日期</th>
                <th>设备编号</th>
                <th>负责人</th>
                <th>设备电路是否正常</th>
                <th>设备螺栓是否正常</th>
                <th>设备形变是否正常</th>
                <th>设备是否正常工作</th>
                <th>全部检查点是否检查完毕</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data_list %}
                {% load ID_edit %}
                <tr>
                    <td>{{ item.date }}</td>
                    <td>{{ item.equipment }}</td>
                    <td>{{ item.charger }}</td>
                    {% if item.circuit == "否" %}
                        <td style="color: red">{{ item.circuit }}</td>
                    {% else %}
                        <td>{{ item.circuit }}</td>
                    {% endif %}
                    {% if item.screw == "否" %}
                        <td style="color: red">{{ item.screw }}</td>
                    {% else %}
                        <td>{{ item.screw }}</td>
                    {% endif %}
                    {% if item.deformation == "否" %}
                        <td style="color: red">{{ item.deformation }}</td>
                    {% else %}
                        <td>{{ item.deformation }}</td>
                    {% endif %}
                    {% if item.work == "否" %}
                        <td style="color: red">{{ item.work }}</td>
                    {% else %}
                        <td>{{ item.work }}</td>
                    {% endif %}{% if item.all == "否" %}
                    <td style="color: red">{{ item.all }}</td>
                {% else %}
                    <td>{{ item.all }}</td>
                {% endif %}
                    <td>{{ item.note }}<a href="#" data-toggle="modal"
                                          data-target={{ item.nid|ID_edit:"#myModal" }}><span
                            class="glyphicon glyphicon-search"></span></a>
                        <div class="modal fade" id={{ item.nid|ID_edit:"myModal" }} tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h4 class="modal-title" id="myModalLabel">备注详情</h4>
                                    </div>
                                    <div class="modal-body" style="font-size:11pt">{{ item.note }}</div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </td>
                    <td>
                        {% load ID_edit %}
                        <a href={{ item.nid|ID_edit:"/Maintenance/edit_runRecord?ID=" }}><span
                                class="glyphicon glyphicon-edit"></span> 编辑</a> |
                        <a href={{ item.nid|ID_edit:"/Maintenance/delete_runRecord?ID=" }}><span
                                class="glyphicon glyphicon-trash"></span> 删除</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
</body>
</html>