<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>需求数据管理</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="index_page"></div>
<script>
    $('#index_page').load('/static/html/index.html')
</script>
<div class="container-fluid">
    <h1>需求记录封装与管理</h1>
    <div class="col-lg-1" style="border-right-style: solid; border-right-width: 3px">
        <h2 class="menu"><a href="/Requirements/req_list/">数据列表</a></h2>
        <p class="menu"><a href="/Requirements/add_req/" style="font-size:9pt">新增数据</a></p>
        <p class="menu"><a href="/Requirements/statistics_req/" style="font-size:9pt">数据统计</a></p>
        <p class="menu"><a href="/Requirements/req_export/" style="font-size:9pt">数据导出(等候约5秒)</a></p>
    </div>
    <div class="col-lg-11">
        <table class="table table-hover table-striped" style="font-size:9pt">
            <thead>
            <tr>
                <th>ID</th>
                <th>客户</th>
                <th>产品类别</th>
                <th>设备编号</th>
                <th>交货日期</th>
                <th>交货地点</th>
                <th width="250px">工程条件</th>
                <th width="200px">工程重难点</th>
                <th width="200px">客户要求及其他注意事项</th>
                <th>任务书文件</th>
                <th width="120px">操作</th>
            </tr>
            </thead>
            <tbody>

            {% for item in data_list %}
                {% load ID_edit %}
                <tr>
                    <td>{{ item.ID }}</td>
                    <td>{{ item.customer }}</td>
                    <td>{{ item.product_type }}</td>
                    <td>{{ item.product_code }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.place }}</td>
                    <td>{{ item.condition }}<a href="#" data-toggle="modal"
                                               data-target={{ item.ID|ID_edit:"#myModal" }}><span
                            class="glyphicon glyphicon-search"></span></a>
                        <div class="modal fade" id={{ item.ID|ID_edit:"myModal" }} tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            {#                    这一块使用了ID_edit过滤器来构造对应不同的modal模态框，不然所有模态框都是一个名字#}
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">工程重难点详情</h4>
                                    </div>
                                    <div class="modal-body" style="font-size:11pt">{{ item.condition }}</div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </td>
                    <td>{{ item.nandian }}</td>
                    <td>{{ item.attention }}</td>
                    <td><a>{{ item.inputfile }}</a></td>
                    <td>

                        {% load ID_edit %}

                        <a href={{ item.ID|ID_edit:"/Requirements/edit_req?ID=" }}><span
                                class="glyphicon glyphicon-edit"></span> 编辑</a>|
                        <a href={{ item.ID|ID_edit:"/Requirements/delete_req?ID=" }}><span
                                class="glyphicon glyphicon-trash"></span> 删除</a>

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li><a href="/Requirements/req_list?page=1">1</a></li>
                <li><a href="/Requirements/req_list?page=2">2</a></li>
                <li><a href="/Requirements/req_list?page=3">3</a></li>
                <li><a href="/Requirements/req_list?page=4">4</a></li>
                <li><a href="/Requirements/req_list?page=5">5</a></li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>