<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"/>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="index_page"></div>
<h3>欢迎使用数据知识集成管理工具</h3>
<div style="text-align: center">
    <img src="/static/img/data.png">
</div>
<script>
    $('#index_page').load('/static/html/index.html')
</script>
</body>
</html>