{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"/>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {#    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="static/css/style1.css">#}
{#    <link rel="stylesheet" href="static/css/font-awesome.css">#}

    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style1.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/font-awesome.css' %}"/>

</head>
<body>
<div id="index_page"></div>
<script>
    $('#index_page').load('/static/html/index.html')
</script>
{#在此处定义了一个div块，id叫index_page#}
<header>
    <div id="showcase">
        <div class="container">
            <div class="showcase-content">
                <h1 style="color: #1b1e21">欢迎使用</h1>
                <h1 class="toll-primary">数据知识集成管理工具</h1>
                <p>2021年开发</p>

            </div>
        </div>
    </div>
</header>


<section id="home-info" class="bg-1">
    <div class="info-img"></div>
    <div class="info-content">
        <h2><span class="toll-primary">数据知识集成管理工具</span>介绍</h2>
        <h5>数据知识集成管理工具对需求、设计、制造、运维等全业务领域的多源异构数据资源及产品设计知识进行封装，构建索引并进行数据与知识储存，
            最终实现数据与知识的集中管控。作为支持产品自适应设计的大数据处理与知识管理平台的数据与知识源，
            数据知识集成管理工具支持用户通过大数据处理与知识管理平台进行数据与知识访问。</h5>
        <a class="btn" href="/Helps/documentations/">查看帮助</a>
    </div>
</section>

<section id="features">
    <div class="box bg-2">
        <i class="fa fa-database fa-3x" aria-hidden="true"></i>
        <h3>需求数据</h3>
        <p>工程条件</p>
        <p>工程重难点</p>
        <p>客户需求</p>
    </div>
    <div class="box bg-3">
        <i class="fa fa-asterisk fa-3x" aria-hidden="true"></i>
        <h3>制造数据</h3>
        <p>验收数据</p>
        <p>不合格产品单</p>
        <p>外协问题数据</p>
    </div>
    <div class="box bg-2">
        <i class="fa fa-table fa-3x" aria-hidden="true"></i>
        <h3>运行维护数据</h3>
        <p>运行时序数据</p>
        <p>故障记录</p>
    </div>
    <div class="box bg-3">
        <i class="fa fa-flask fa-3x" aria-hidden="true"></i>
        <h3>试验数据</h3>
        <p>试验数据</p>
    </div>
</section>
<div class="clr"></div>


</body>

</html>